.idea/.gitignore
.idea/Android-Kotlin.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/UIDevelopment/CustomizedWidget
UIDevelopment/UIBestPractice/.gitignore
UIDevelopment/UIBestPractice/build.gradle
UIDevelopment/UIBestPractice/gradle.properties
UIDevelopment/UIBestPractice/gradlew
UIDevelopment/UIBestPractice/gradlew.bat
UIDevelopment/UIBestPractice/settings.gradle
UIDevelopment/UIBestPractice/.idea/.gitignore
UIDevelopment/UIBestPractice/.idea/compiler.xml
UIDevelopment/UIBestPractice/.idea/gradle.xml
UIDevelopment/UIBestPractice/.idea/jarRepositories.xml
UIDevelopment/UIBestPractice/.idea/misc.xml
UIDevelopment/UIBestPractice/.idea/vcs.xml
UIDevelopment/UIBestPractice/app/._.DS_Store
UIDevelopment/UIBestPractice/app/.gitignore
UIDevelopment/UIBestPractice/app/build.gradle
UIDevelopment/UIBestPractice/app/proguard-rules.pro
UIDevelopment/UIBestPractice/app/src/androidTest/java/com/example/uibestpractice/ExampleInstrumentedTest.kt
UIDevelopment/UIBestPractice/app/src/main/AndroidManifest.xml
UIDevelopment/UIBestPractice/app/src/main/java/com/example/uibestpractice/MainActivity.kt
UIDevelopment/UIBestPractice/app/src/main/java/com/example/uibestpractice/Msg.kt
UIDevelopment/UIBestPractice/app/src/main/java/com/example/uibestpractice/MsgAdapter.kt
UIDevelopment/UIBestPractice/app/src/main/java/com/example/uibestpractice/MsgViewHolder.kt
UIDevelopment/UIBestPractice/app/src/main/java/com/example/uibestpractice/Result.kt
UIDevelopment/UIBestPractice/app/src/main/res/drawable/ic_launcher_background.xml
UIDevelopment/UIBestPractice/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
UIDevelopment/UIBestPractice/app/src/main/res/drawable-xxhdpi/message_left.9.png
UIDevelopment/UIBestPractice/app/src/main/res/drawable-xxhdpi/message_left_original.png
UIDevelopment/UIBestPractice/app/src/main/res/drawable-xxhdpi/message_right.9.png
UIDevelopment/UIBestPractice/app/src/main/res/drawable-xxhdpi/message_right_original.png
UIDevelopment/UIBestPractice/app/src/main/res/layout/activity_main.xml
UIDevelopment/UIBestPractice/app/src/main/res/layout/msg_left_item.xml
UIDevelopment/UIBestPractice/app/src/main/res/layout/msg_right_item.xml
UIDevelopment/UIBestPractice/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
UIDevelopment/UIBestPractice/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
UIDevelopment/UIBestPractice/app/src/main/res/mipmap-hdpi/ic_launcher.png
UIDevelopment/UIBestPractice/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
UIDevelopment/UIBestPractice/app/src/main/res/mipmap-mdpi/ic_launcher.png
UIDevelopment/UIBestPractice/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
UIDevelopment/UIBestPractice/app/src/main/res/mipmap-xhdpi/ic_launcher.png
UIDevelopment/UIBestPractice/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
UIDevelopment/UIBestPractice/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
UIDevelopment/UIBestPractice/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
UIDevelopment/UIBestPractice/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
UIDevelopment/UIBestPractice/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
UIDevelopment/UIBestPractice/app/src/main/res/values/colors.xml
UIDevelopment/UIBestPractice/app/src/main/res/values/strings.xml
UIDevelopment/UIBestPractice/app/src/main/res/values/styles.xml
UIDevelopment/UIBestPractice/app/src/test/java/com/example/uibestpractice/ExampleUnitTest.kt
UIDevelopment/UIBestPractice/gradle/wrapper/gradle-wrapper.jar
UIDevelopment/UIBestPractice/gradle/wrapper/gradle-wrapper.properties
